{% extends 'base.html.twig' %}
{% block title %}Lego Collection{% endblock %}
{% block body %}

<nav>
    <a href="/">All</a> |
    {% for collection in collections %}
    <a href="/collection/{{ collection.id }}">{{ collection.name }}</a> |
    {% endfor %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
      <p>Bonjour, {{ app.user.email }}</p>
      <button><a href="{{ logout }}">Logout</a></button>
    {% else %}
      <button><a href="{{ login }}">Login</a></button>
    {% endif %}
</nav>

{% for lego in legos %}
<div class="lego_card">
  <div class="info_section">
    <div class="lego_header">
      <img class="locandina" src="/images/{{ lego.imageBox }}" alt="Image of {{ lego.name }}"/>
      <h1>{{ lego.name }}</h1>
      <h4>Collection : {{ lego.collection }}</h4>
      <span class="pieces">Pièces : {{ lego.pieces }}</span>
      <p class="price">{{ lego.price }}€</p><br>
      <a href="index.php?buy={{ lego.id }}"><button>Buy</button></a>
    </div>
    <div class="lego_desc">
      <p class="text">
        {{ lego.description }}
      </p>
    </div>
    <div class="lego_social">
      <ul>
        <li><i class="material-icons">share</i></li>
        <li><i class="material-icons">favorite</i></li>
        <li><i class="material-icons">chat_bubble</i></li>
      </ul>
    </div>
  </div>
  <div class="blur_back">
    <img src="/images/{{ lego.imageMain }}" alt="background lego card">
  </div>
</div>
{% else %}
<p>No legos found.</p>
{% endfor %}
{% endblock %}